/* Animations, Base, Typography, Utilities (Media Queries) */

// Typography
$font: 'Nunito-sans', sans-serif;
$light: 400;
$heavy: bold;

$fontsize: 1.1em;
$subheader: 1.8em;
$sml-font: 0.8em;

// Primary Colors
$darkblue: hsl(237°,60%, 31%);
$purple: hsl(271°, 70%, 60%);
$orange: hsl(0°, 79%, 63%);
$green: hsl(145°, 63%, 42%);
$lightblue: hsl(218°, 84%, 62%);

// Neutral Colors
$gray: hsl(234°, 29%, 93%);

// Standard Colors
$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);

//Linear
$blueLinear: linear-gradient(hsl(237,68,33),hsl(237,22,26));


// Misc
$none: none;
$hidden: hidden;
$inherit: inherit;
$nowrap: nowrap;

// Globals
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  font-family: $font;
  font-size: $fontsize;
  overflow-x: $hidden;
}

.button {
  background-color: $green;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $fontsize;
  border-radius: 1em;
}