@import 'abstract';

//casestudy

.Study-wrapper {
    background: $darkblue ;
    padding-bottom: 20px;

    h1 {
        color: $white;
        text-align: center;
        padding-top: 2em;
        margin-bottom: 5em;
    }
}

.Numbers {
    grid-column: 2;
    grid-row: 3;
    margin-left: 15em;

    .numbers-text{
        font-size: $sml-font;
        color: $gray;
    }

    .Leftarrow .Rightarrow {
        transform: scale(.8);
        cursor: pointer;
    }
}


.Study-info {
    position: absolute;
    background: $white;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 25%;
    margin-top: -8em;
    padding-bottom: 2em;

    .Company-name {
        padding-top: 25%;
        padding-left: 30%;
        width: 20%;
    }

    .Company-ceo {
        grid-column: 2;
        margin-left: -8em;
    }

    .Company-review {
        padding-bottom: 1.5em;
        width: 100%;
        margin-left: -8em;
        padding-top: 20%;
    }
}

//form

.Form-wrapper {
    display: grid;
    grid-template-columns: repeat(2,fr);
    padding: 10em 10em;
}

.Contact-svg {
    grid-column: 1;
    transform: scale(.8);
}

.Form {
    grid-column: 2;
    color: $darkblue;
    font-weight: $heavy;
    padding-right: 10em;
    margin-top: 5em;

    h1 {
        text-align: center;
        font-size: 3em;
        color: $darkblue;
        transform: translateX(-450px);
        margin-bottom: 1em;
    }

    .button {
        margin-left: 6em;
    }
}

input {
    width: 100%;
    margin: 1em;
    background-color: $gray;
    padding: .5em;
    margin-bottom: 2em;
}

//footer
.Footer-wrapper {
    background: $blueLinear;
    color: $white;
}

.Footer-links {
    @include horizontal-list;

    ul li{
        display: inline;
        text-decoration: none;
        padding: 4em;
        font-size: .8em;
      }
}

.Social {
    padding: 0 20px;

}

.Footer-nav {
    @include horizontal-list;
    padding: 1em;

 
    li a{
        text-decoration: none;
        color: $white;
        padding: 2em;
        font-size: 1.3em;
    }
}

.Privacy {
    font-size: 0.8em;
}

.Footer-company {
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
}

.Footer-crown {
    transform: scale(.3);
    vertical-align: -1.7em;
}
