@import 'base';
@import 'abstract';

.technology-wrapper {
  margin-top: calc(1.618rem * 2);
  margin-bottom: calc(1.618rem * 2);

}

.technology-header {
  color: $darkblue;
  font-size: 2em;
  text-align: center;
  margin-bottom: calc(1.618rem);
}

.technology-rect {
  width: 100%;
  background: $gray;
  @include flexbox;
  height: 80px;
}

.technology-companies {
  transform: scale(0.8);
}